<!-- <div class="page-container">
  <div class="header-banner">
    <div class="banner-text">
      <h2>Academic Calendar</h2>
      <p>Stay informed about all important school dates, events, and activities</p>
    </div>
    <div class="banner-image">
      <img src="images/AcademicCalendarBanner.png" alt="Academic Banner">
    </div>
  </div> -->

<div class="page-container">
  <div class="academic-calendar-banner">
    <img src="images/AcademicCalendarBanner.png" alt="Academic Banner" />
  </div>

  <div class="content-area">
    <h3>Tahun Pelajaran 2025-2026</h3>

    <div class="image-preview-wrapper" *ngIf="imageUrl">
      <img [src]="imageUrl" alt="Academic Calendar" />
    </div>
    <div *ngIf="!imageUrl">
      <p>Tidak ada kalender akademik yang tersedia.</p>
    </div>
  </div>
</div>
