<div class="page-container">
  <div class="header-section">
    <h2>Teachers Schedule</h2>
    <div class="actions">
      <div class="teacher-select-wrapper">
        <select name="teachers" id="teacher-select">
          <option value="">Teachers Name</option>
          <option *ngFor="let teacher of teachers" [value]="teacher.id">
            {{ teacher.name }}
          </option>
        </select>
      </div>
      <button class="add-btn" (click)="openAddScheduleModal()">+ Add Schedule</button>
    </div>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Period</th>
          <th>Days/Time</th>
          <th>Monday</th>
          <th>Tuesday</th>
          <th>Wednesday</th>
          <th>Thursday</th>
          <th>Friday</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of scheduleData" [class.recess-row]="item.activity">
            <td>{{ item.period }}</td>
            <td [class.recess-time]="item.activity">{{ item.time }}</td>

            <ng-container *ngIf="!item.activity">
                <td>{{ item.monday }}</td>
                <td>{{ item.tuesday }}</td>
                <td>{{ item.wednesday }}</td>
                <td>{{ item.thursday }}</td>
                <td>{{ item.friday }}</td>
            </ng-container>
            <ng-container *ngIf="item.activity">
                <td colspan="5" class="recess-activity">{{ item.activity }}</td>
            </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="footer-actions">
    <button class="download-btn">⬇ Download</button>
    <button class="upload-btn">⬆ Upload Schedule</button>
  </div>
</div>

<app-add-schedule-modal 
  *ngIf="isModalOpen" 
  (close)="closeAddScheduleModal()">
</app-add-schedule-modal>