<div class="folder-view-container">
  <div class="view-header">
    <div class="header-left">
      <button (click)="goBack()" class="back-button">
        <img src="images/back-arrow.png" alt="Back">
      </button>
      <h2 class="folder-title">{{ folderName | titlecase }}</h2>
    </div>
    
    <div class="header-right">
      <button class="upload-button" (click)="fileInput.click()">
        Upload
      </button>
      <input 
        type="file" 
        #fileInput 
        (change)="onFileSelected($event)" 
        style="display: none"
      >
    </div>
  </div>

  <div class="file-list">
    <div class="file-list-header">
      <span class="col-name">Name</span>
      <span class="col-last-modified">Last modified</span>
      <span class="col-file-size">File size</span>
      <span class="col-options"></span>
    </div>

    <div 
        class="file-item" 
        *ngFor="let file of files; let i = index" 
        (click)="openFile(file)"
        [class.clickable]="file.fileObject"
    >
      <span class="col-name">{{ file.name }}</span>
      <span class="col-last-modified">{{ file.lastModified }}</span>
      <span class="col-file-size">{{ file.size }}</span>
      <div class="col-options">
        <button class="options-button" (click)="toggleOptionsMenu(i, $event)">
          <img src="images/dots-icon.png" alt="Options">
        </button>
        <div class="options-menu" *ngIf="openMenuIndex === i">
            <button (click)="deleteFile(i, $event)">Delete</button>
            <hr>
            <button (click)="downloadFile(file, $event)">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>